.language-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  transition: border-color 0.3s;
}

.language-dropdown:hover {
  border-color: #007bff;
}

.flag img {
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.language {
  flex-grow: 1;
}

.dropdown-arrow {
  margin-left: 8px;
  font-size: 12px;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: #fff;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.language-option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.language-option:hover {
  background-color: #f2f2f2;
}